@import "./variable/color";

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.card-box table {
  background-color: white;
  // margin: 10px 0px;
  width: 100%;
  min-height: 500px;
  border-collapse: collapse;
  text-align: center;
  // background-color: #F8F6F4;

  td {
    border: 1px solid $trolley-grey;
  }
}

.long-column{
  width: 15%;
}

.card-box {
  p {
    font-weight: 700;
    font-size: 35px;
  }
}

.form table {

  td {
    border: 1px solid #B3B5BB;
  }

  input {
    font-size: 25px;
    width: 90%;
  }

}
