@import "./variable/color";

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.card-box table {
  background-color: white;
  // margin: 10px 0px;
  width: 100%;
  min-height:200px;
  border-collapse: collapse;
  text-align: center;
  // background-color: #F8F6F4;

  td {
    border: 1px dotted $trolley-grey;
  }

  i {
    font-size: 0.7em;
  }
}

.long-column{
  width: 15%;
}

.card-box {
  p {
    font-weight: 700;
    font-size: 20px;
  }
}

