@import "./variable/color";

.form {
  margin-bottom: 20px;
  input {
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
    font-weight: 100;
    width: 90%;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px dotted $trolley-grey;

    &:focus {
      outline: none;
      // border: none;
    }
  }

  label {
    font-size: 30px;
    font-weight: 100;
  }

}

.form-row {
  margin-bottom: 20px;
}
