/ - require 'datetime'
.form-container
  h2= "This is where you create feeling. Help yourself. If you have any question, don't ask Amy."
  .form
    = form_for @feeling do |f|
      .form-row
        .form-label
          = f.label "💭 Feeling"
        em A piece of feeling is incomplete without feeling. You can leave other things blank, not this one.
        .form-input
          = f.text_field :mood, placeholder: "So, what does this moment feel like?"

      .form-row
        .form-label
          = f.label "☕️ Drink"
        .form-input
          = f.text_field :drink, placeholder: "What are you drinking #{current_user.username}?"

      .form-row
        .form-label
          = f.label "🎶 Music"
        .form-input
          = f.text_field :music, placeholder: "In the speaker or in your earpods"

      .form-row
        .form-label
          = f.label "🏠 Coffee Shop"
        .form-input
          = f.text_field :coffee_shop, placeholder: "Where are you having this cup of drink?"

      .form-row
        .form-label
          = f.label "🔮 Wifi Password"
        .form-input
          = f.text_field :wifi_password, placeholder: "Do they have interesting password?"

      .form-row
        .form-label
          = f.label "🗓 Date"
        .form-input
          = f.text_field :date, placeholder: "Any poetic way to call this day other than #{DateTime.now.strftime('%b %e, %Y')}"

      = f.submit "✨ Post", class: "btn"
