@import "./variable/color";

.border-box {
  border-bottom: 4px solid $black;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 999;
}


.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  margin: 0px 15px;
}

.navbar-right {
  min-width: 25%;
  display: flex;
  justify-content: space-between;

}

.logo {
  font-size: 15px;
  font-weight: 700;
}

// not using
.link {
  padding: 10px 15px;
  // background-color: white;
  margin-right: 20px;
}

.navbar-links {
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  display: flex;

  a {
    text-decoration: none;
    font-weight: 100;
    font-size: 20px;
    // color: #3A3935;
  }
}

.username-link{
  padding-top: 15px;
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  .navbar-right {
    min-width: 50%;
  }
}
