p this is home of feelings when coffee
- unless current_user
  = link_to "click here to sign in if you are rita, don't worry there will also be a sign up link in the page this redirect you to", new_user_session_path
