@import "variable/color";

.btn {
  -webkit-appearance: none;
  background-color: white;
  color:  $trolley-grey;
  border: dotted 1px $trolley-grey !important;
  width: 323px;
  height: 30px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;

  &:hover {
    background-color: $trolley-grey;
    color: white;
  }

}

