@import "variable/color";

.btn {
  -webkit-appearance: none;
  background-color: white;
  color:  $trolley-grey;
  border: dotted 1px $trolley-grey !important;
  width: 323px;
  height: 30px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;

  &:hover {
    background-color: $trolley-grey;
    color: white;
  }

}


.button{
  border: 4px solid $black;
  text-align: center;
  vertical-align: middle;
  &:hover {
    background-color: $black;
    color: $egg;
    a {
      color: $egg;
    }
  }
}

.half-round {
  padding: 10px 10px;
  border-radius: 15px;
  font-weight: 400;
  font-size: 20px;
}

.round {
  // font-size: 30px;
  // font-weight: 800;
  border-radius: 30px;
  height: 40px;
  width: 40px;
}

.egg {
  background-color: $egg;
}
