@import 'variable/color';

body {
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  color: $black;
  margin: 0px 0px;
  background-color: $egg;
}

h2 {
  font-size: 30px;
  font-weight: 100;
}

a {
  color: $black;
  text-decoration: none;

}


input:-internal-autofill-selected {
    background-color: rgba(232, 240, 254,0) !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
}
